AUTH_API_URL=https://authentication-microapi.herokuapp.com/api/
AUTH_ADMIN_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVmMjlhZmU1ZDdiMjYyMDAwNDkxM2MwZiIsImVtYWlsIjoidWphbWVzNDFAZ21haWwuY29tIiwiREJVUkkiOiJtb25nb2RiK3NydjovL21pY3JvYXBpOnNlY3JldDEyM0BjbHVzdGVyMC5qYXBpdy5tb25nb2RiLm5ldC9taWNyb2FwaT9yZXRyeVdyaXRlcz10cnVlJnc9bWFqb3JpdHkiLCJpYXQiOjE1OTY1Njc3NDF9.75c96v59bIawyN6Rg5ZrH5hRGKmBJsvfoYX5G1Htz6Y