{% extends 'homepage/base.html'%}

{% block content %}
{% load static %}


<body id="recover">
  <!-- Main body goes here -->
  <div class="recover_container">
    <p class="container_word"> Reset Your password </p>
    {% if messages %}
    <div class="text-warning">
      {% for message in messages %}
      {{message}}
      {% endfor%}
    </div>
    {%endif%}
    <div class="form">
      <form method="POST" action="{% url 'accounts:reset-password' %}">
        {%csrf_token%}
        <label> Type new password</label>
        <input type="password" name="password" placeholder="Enter password" />
        <label> Type new password one more time</label>
        <input type="password" name="password1" placeholder="Enter password " />
        <input type="hidden" name="passtoken" value="{{token}}">
        <button type="submit" class="btn tetiary-btn">Set password</button>
      </form>

    </div>

  </div>


  {% endblock %}
</body>